n8n_workflows/workflow_06_multi_channel_notification_hub.json
{
  "name": "Multi-Channel Notification Hub",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook - Any Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "path": "kosai/notify",
        "httpMethod": "POST",
        "options": {
          "rawBody": true
        }
      },
      "webhookId": "kosai-notify"
    },
    {
      "id": "code-parse-route",
      "name": "Parse & Route Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "parameters": {
        "jsCode": "const event = $input.first().json.body || $input.first().json;\n\n// Routing rules\nconst routing = {\n  'job_created':      { admin: true, worker: true, client: false },\n  'job_assigned':     { admin: false, worker: true, client: true },\n  'job_completed':    { admin: true, worker: false, client: true },\n  'payment_received': { admin: true, worker: false, client: true },\n  'invoice_overdue':  { admin: true, worker: false, client: true },\n  'inventory_low':    { admin: true, worker: false, client: false },\n  'expense_submitted':{ admin: true, worker: false, client: false },\n  'system_alert':     { admin: true, worker: false, client: false }\n};\n\nconst eventType = event.type || event.event_type || 'system_alert';\nconst rule = routing[eventType] || { admin: true, worker: false, client: false };\n\n// Build Telegram messages\nfunction buildMsg(role) {\n  const emoji = {\n    job_created: '\\ud83d\\udccc', job_assigned: '\\u2705', job_completed: '\\ud83c\\udf1f',\n    payment_received: '\\ud83d\\udcb0', invoice_overdue: '\\u26a0\\ufe0f',\n    inventory_low: '\\ud83d\\udce6', expense_submitted: '\\ud83d\\udccb', system_alert: '\\ud83d\\udea8'\n  }[eventType] || '\\ud83d\\udce2';\n\n  let msg = `${emoji} *${eventType.replace(/_/g, ' ').toUpperCase()}*\\n\\n`;\n  if (event.job_id) msg += `Job: #${event.job_id}\\n`;\n  if (event.client_name) msg += `Client: ${event.client_name}\\n`;\n  if (event.worker_name || event.technician_name) msg += `Worker: ${event.worker_name || event.technician_name}\\n`;\n  if (event.amount) msg += `Amount: $${event.amount}\\n`;\n  if (event.description) msg += `${event.description}\\n`;\n  if (event.message) msg += `${event.message}\\n`;\n  return msg;\n}\n\nconst telegramAdmin = rule.admin ? buildMsg('admin') : null;\nconst telegramWorker = rule.worker ? buildMsg('worker') : null;\nconst telegramClient = rule.client ? buildMsg('client') : null;\n\nreturn [{ json: {\n  eventType,\n  channels: { admin: rule.admin, worker: rule.worker, client: rule.client },\n  telegramAdmin,\n  telegramWorker,\n  telegramClient,\n  workerChatId: event.telegram_chat_id || event.worker_telegram || null,\n  clientChatId: event.client_telegram_id || null\n}}];"
      }
    },
    {
      "id": "if-admin",
      "name": "Send to Admin?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 150],
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.channels.admin }}", "value2": true }]
        }
      }
    },
    {
      "id": "if-worker",
      "name": "Send to Worker?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300],
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.channels.worker }}", "value2": true }]
        }
      }
    },
    {
      "id": "if-client",
      "name": "Send to Client?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 450],
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.channels.client }}", "value2": true }]
        }
      }
    },
    {
      "id": "tg-admin",
      "name": "Telegram - Admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [850, 100],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.telegramAdmin }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "credentials": { "telegramApi": { "id": "telegram-bot", "name": "Kosai Telegram Bot" } },
      "onError": "continueRegularOutput"
    },
    {
      "id": "tg-worker",
      "name": "Telegram - Worker",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [850, 260],
      "parameters": {
        "chatId": "={{ $json.workerChatId || $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.telegramWorker }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "credentials": { "telegramApi": { "id": "telegram-bot", "name": "Kosai Telegram Bot" } },
      "onError": "continueRegularOutput"
    },
    {
      "id": "tg-client",
      "name": "Telegram - Client",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [850, 420],
      "parameters": {
        "chatId": "={{ $json.clientChatId || $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.telegramClient }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "credentials": { "telegramApi": { "id": "telegram-bot", "name": "Kosai Telegram Bot" } },
      "onError": "continueRegularOutput"
    },
    {
      "id": "noop-admin",
      "name": "Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 200],
      "parameters": {}
    },
    {
      "id": "noop-worker",
      "name": "Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 360],
      "parameters": {}
    },
    {
      "id": "noop-client",
      "name": "Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 500],
      "parameters": {}
    }
  ],
  "connections": {
    "Webhook - Any Event": {
      "main": [[{ "node": "Parse & Route Event", "type": "main", "index": 0 }]]
    },
    "Parse & Route Event": {
      "main": [
        [
          { "node": "Send to Admin?", "type": "main", "index": 0 },
          { "node": "Send to Worker?", "type": "main", "index": 0 },
          { "node": "Send to Client?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send to Admin?": {
      "main": [
        [{ "node": "Telegram - Admin", "type": "main", "index": 0 }],
        [{ "node": "Skip", "type": "main", "index": 0 }]
      ]
    },
    "Send to Worker?": {
      "main": [
        [{ "node": "Telegram - Worker", "type": "main", "index": 0 }],
        [{ "node": "Skip", "type": "main", "index": 0 }]
      ]
    },
    "Send to Client?": {
      "main": [
        [{ "node": "Telegram - Client", "type": "main", "index": 0 }],
        [{ "node": "Skip", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": ["kosai", "notifications", "multi-channel"],
  "active": false
}
