n8n_workflows/workflow_04_invoice_reconciliation.json
{
  "name": "Invoice -> Payment Reconciliation",
  "nodes": [
    {
      "id": "cron-trigger",
      "name": "Cron - Daily 6AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 6 * * *" }]
        }
      }
    },
    {
      "id": "http-get-invoices",
      "name": "GET Unpaid Invoices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 200],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.KOSAI_BASE_URL }}/api/invoices",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{ "name": "status", "value": "unpaid" }]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "=Bearer {{ $env.KOSAI_API_KEY }}" }]
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "http-get-payments",
      "name": "GET Recent Payments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 400],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.KOSAI_BASE_URL }}/api/cash-safe/transactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "=Bearer {{ $env.KOSAI_API_KEY }}" }]
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "code-match-reconcile",
      "name": "Match & Reconcile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300],
      "parameters": {
        "jsCode": "// Get data from both HTTP nodes using $('Node Name')\nlet invoices = [];\nlet payments = [];\n\ntry {\n  const invResp = $('GET Unpaid Invoices').first().json;\n  invoices = Array.isArray(invResp) ? invResp : (invResp.data || invResp.invoices || []);\n} catch (e) {\n  console.log('Failed to fetch invoices:', e.message);\n}\n\ntry {\n  const payResp = $('GET Recent Payments').first().json;\n  payments = Array.isArray(payResp) ? payResp : (payResp.data || payResp.transactions || []);\n} catch (e) {\n  console.log('Failed to fetch payments:', e.message);\n}\n\nif (!invoices.length) {\n  return [{ json: { matchedCount: 0, unmatchedCount: 0, overdueCount: 0, updates: [], message: 'No unpaid invoices found' } }];\n}\n\nconst updates = [];\nconst matched = [];\nconst unmatched = [];\n\n// Match payments to invoices\npayments.forEach(payment => {\n  let matchedInvoice = null;\n\n  // 1. Direct reference match\n  if (payment.invoice_id || payment.linked_batch) {\n    matchedInvoice = invoices.find(inv => inv.id === (payment.invoice_id || payment.linked_batch));\n  }\n\n  // 2. Fuzzy match: same client + close amount (within 1%)\n  if (!matchedInvoice && payment.client_id) {\n    const candidates = invoices.filter(inv =>\n      inv.client_id === payment.client_id &&\n      Math.abs(inv.total_amount - payment.amount) / Math.max(inv.total_amount, 1) < 0.01\n    );\n    if (candidates.length === 1) matchedInvoice = candidates[0];\n  }\n\n  if (matchedInvoice) {\n    matched.push({ invoiceId: matchedInvoice.id, paymentId: payment.id, amount: payment.amount });\n    const isFullPayment = Math.abs(payment.amount - matchedInvoice.total_amount) < 0.01;\n    updates.push({\n      id: matchedInvoice.id,\n      status: isFullPayment ? 'paid' : 'partial',\n      paid_amount: payment.amount,\n      payment_id: payment.id\n    });\n  } else {\n    unmatched.push({ paymentId: payment.id, amount: payment.amount, clientId: payment.client_id });\n  }\n});\n\n// Check overdue (invoices older than 30 days)\nconst now = new Date();\nconst overdue = invoices.filter(inv => {\n  const created = new Date(inv.created_at || inv.issue_date);\n  const daysOld = (now - created) / (1000 * 60 * 60 * 24);\n  return daysOld > 30 && !updates.find(u => u.id === inv.id);\n});\n\nreturn [{\n  json: {\n    matchedCount: matched.length,\n    unmatchedCount: unmatched.length,\n    overdueCount: overdue.length,\n    updates: updates,\n    overdueInvoices: overdue.map(i => ({ id: i.id, amount: i.total_amount, client: i.client_name || i.client_id })),\n    unmatchedPayments: unmatched\n  }\n}];"
      }
    },
    {
      "id": "split-updates",
      "name": "Split Updates",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [950, 200],
      "parameters": {
        "fieldToSplitOut": "updates",
        "options": {}
      }
    },
    {
      "id": "http-patch-invoice",
      "name": "Update Invoice Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1150, 200],
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.KOSAI_BASE_URL }}/api/invoices/{{ $json.id }}/pay",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: $json.status }) }}",
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.KOSAI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "code-build-summary",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 550],
      "parameters": {
        "jsCode": "const data = $('Match & Reconcile').first().json;\n\nlet msg = '🔄 *Daily Reconciliation Report*\\n\\n';\nmsg += `✅ Matched: ${data.matchedCount} payments\\n`;\nmsg += `❌ Unmatched: ${data.unmatchedCount} payments\\n`;\nmsg += `⚠️ Overdue: ${data.overdueCount} invoices\\n`;\n\nif (data.overdueInvoices && data.overdueInvoices.length > 0) {\n  msg += '\\n*Overdue Invoices:*\\n';\n  data.overdueInvoices.forEach(i => {\n    msg += `• #${i.id}: $${i.amount} (${i.client})\\n`;\n  });\n}\n\nif (data.unmatchedPayments && data.unmatchedPayments.length > 0) {\n  msg += '\\n*Unmatched Payments:*\\n';\n  data.unmatchedPayments.forEach(p => {\n    msg += `• Payment #${p.paymentId}: $${p.amount}\\n`;\n  });\n}\n\nreturn [{ json: { message: msg, hasOverdue: data.overdueCount > 0 } }];"
      }
    },
    {
      "id": "telegram-summary",
      "name": "Send Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [950, 550],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Kosai Telegram Bot"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Cron - Daily 6AM": {
      "main": [
        [
          { "node": "GET Unpaid Invoices", "type": "main", "index": 0 },
          { "node": "GET Recent Payments", "type": "main", "index": 0 }
        ]
      ]
    },
    "GET Unpaid Invoices": {
      "main": [[{ "node": "Match & Reconcile", "type": "main", "index": 0 }]]
    },
    "GET Recent Payments": {
      "main": [[{ "node": "Match & Reconcile", "type": "main", "index": 0 }]]
    },
    "Match & Reconcile": {
      "main": [
        [
          { "node": "Split Updates", "type": "main", "index": 0 },
          { "node": "Build Summary", "type": "main", "index": 0 }
        ]
      ]
    },
    "Split Updates": {
      "main": [[{ "node": "Update Invoice Status", "type": "main", "index": 0 }]]
    },
    "Build Summary": {
      "main": [[{ "node": "Send Summary", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["kosai", "invoices", "payments", "reconciliation"],
  "active": false
}
