n8n_workflows/workflow_09_expense_approval.json
{
  "name": "Expense Approval Workflow",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook - Expense Submitted",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "path": "kosai/expense-submitted",
        "httpMethod": "POST",
        "options": { "rawBody": true }
      },
      "webhookId": "kosai-expense-submitted"
    },
    {
      "id": "http-get-expense",
      "name": "GET Expense Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.KOSAI_BASE_URL }}/api/expenses/{{ $json.body.expenseId || $json.body.expense_id || $json.body.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "=Bearer {{ $env.KOSAI_API_KEY }}" }]
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "code-evaluate",
      "name": "Evaluate Expense",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "jsCode": "const expense = $input.first().json.data || $input.first().json;\n\nconst AUTO_THRESHOLD = 50;\nconst SUSPICIOUS_CATEGORIES = ['entertainment', 'gifts', 'travel'];\n\nconst amount = parseFloat(expense.amount) || 0;\nconst category = (expense.category || '').toLowerCase();\nconst isSuspicious = SUSPICIOUS_CATEGORIES.includes(category) && amount > 100;\n\nlet decision;\nif (amount <= AUTO_THRESHOLD) {\n  decision = 'auto_approve';\n} else if (isSuspicious) {\n  decision = 'flag_review';\n} else {\n  decision = 'manager_approve';\n}\n\nreturn [{ json: {\n  expenseId: expense.id,\n  amount,\n  category: expense.category,\n  description: expense.description,\n  submittedBy: expense.submitted_by || expense.technician_id || expense.worker_id,\n  decision,\n  approvalUrl: `${$env.KOSAI_BASE_URL}/admin.html#expenses?id=${expense.id}`\n}}];"
      }
    },
    {
      "id": "switch-decision",
      "name": "Route by Decision",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [850, 300],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "auto_approve",
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "auto_approve",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "manager_approve",
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "manager_approve",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "flag_review",
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "flag_review",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "http-auto-approve",
      "name": "Auto-Approve Expense",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 100],
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.KOSAI_BASE_URL }}/api/expenses/{{ $json.expenseId }}/approve",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'approved', approved_by: 'n8n-auto' }) }}",
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.KOSAI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "tg-approved",
      "name": "Notify - Auto Approved",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1350, 100],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=\\u2705 *Expense Auto-Approved*\\n\\nExpense #{{ $('Evaluate Expense').first().json.expenseId }}\\nAmount: ${{ $('Evaluate Expense').first().json.amount }}\\nCategory: {{ $('Evaluate Expense').first().json.category }}\\nBy: {{ $('Evaluate Expense').first().json.submittedBy }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "credentials": { "telegramApi": { "id": "telegram-bot", "name": "Kosai Telegram Bot" } },
      "onError": "continueRegularOutput"
    },
    {
      "id": "tg-manager",
      "name": "Request Manager Approval",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1100, 300],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=\\ud83d\\udccb *Expense Needs Approval*\\n\\nExpense #{{ $json.expenseId }}\\nAmount: *${{ $json.amount }}*\\nCategory: {{ $json.category }}\\nDescription: {{ $json.description }}\\nBy: {{ $json.submittedBy }}\\n\\n\\ud83d\\udd17 {{ $json.approvalUrl }}\\n\\nUse the admin panel to approve or reject.",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "credentials": { "telegramApi": { "id": "telegram-bot", "name": "Kosai Telegram Bot" } },
      "onError": "continueRegularOutput"
    },
    {
      "id": "tg-flagged",
      "name": "Flag for Review",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1100, 500],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=\\u26a0\\ufe0f *Suspicious Expense Flagged*\\n\\nExpense #{{ $json.expenseId }}\\nAmount: *${{ $json.amount }}*\\nCategory: {{ $json.category }} (flagged)\\nDescription: {{ $json.description }}\\nBy: {{ $json.submittedBy }}\\n\\nThis expense exceeds $100 in a flagged category.\\n\\n\\ud83d\\udd17 {{ $json.approvalUrl }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "credentials": { "telegramApi": { "id": "telegram-bot", "name": "Kosai Telegram Bot" } },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook - Expense Submitted": {
      "main": [[{ "node": "GET Expense Details", "type": "main", "index": 0 }]]
    },
    "GET Expense Details": {
      "main": [[{ "node": "Evaluate Expense", "type": "main", "index": 0 }]]
    },
    "Evaluate Expense": {
      "main": [[{ "node": "Route by Decision", "type": "main", "index": 0 }]]
    },
    "Route by Decision": {
      "main": [
        [{ "node": "Auto-Approve Expense", "type": "main", "index": 0 }],
        [{ "node": "Request Manager Approval", "type": "main", "index": 0 }],
        [{ "node": "Flag for Review", "type": "main", "index": 0 }]
      ]
    },
    "Auto-Approve Expense": {
      "main": [[{ "node": "Notify - Auto Approved", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": ["kosai", "expenses", "approval"],
  "active": false
}
