n8n_workflows/workflow_01_new_job_auto_assign.json
{
  "name": "New Job Auto-Assignment",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook - Job Created",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "path": "kosai/job-created",
        "options": {
          "rawBody": true
        },
        "httpMethod": "POST"
      },
      "webhookId": "kosai-job-created"
    },
    {
      "id": "http-request-get-job",
      "name": "GET Job Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.KOSAI_BASE_URL }}/api/jobs/{{ $json.body.jobId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.KOSAI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "code-prepare-assignment",
      "name": "Prepare Assignment Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "jsCode": "const job = $input.first().json.data || $input.first().json;\n\n// Map service types to required skills\nconst skillMap = {\n  'cctv': ['cctv', 'surveillance', 'networking', 'general'],\n  'networking': ['networking', 'cabling', 'general'],\n  'wifi': ['wifi', 'networking', 'general'],\n  'nas': ['nas', 'storage', 'networking', 'general'],\n  'general maintenance': ['maintenance', 'general']\n};\n\nconst serviceType = (job.service_type || '').toLowerCase();\nconst requiredSkills = skillMap[serviceType] || ['general'];\n\n// Pass ALL job data forward so downstream nodes can access it\nreturn {\n  jobId: job.id,\n  clientId: job.client_id,\n  serviceType: job.service_type,\n  requiredSkills: requiredSkills,\n  status: job.status,\n  description: job.job_description,\n  address: job.client_address || job.address,\n  companyName: job.company_name\n};"
      }
    },
    {
      "id": "http-request-get-workers",
      "name": "GET Available Workers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.KOSAI_BASE_URL }}/api/technicians?active=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.KOSAI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "code-score-rank",
      "name": "Score & Rank Workers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300],
      "parameters": {
        "jsCode": "// Job data comes from the 'Prepare Assignment Data' node (previous input)\nconst jobData = $input.first().json;\n\n// Workers come from the HTTP response (we need to get it from previous nodes)\n// In n8n v1 execution order, $input contains the output of the LAST node that ran\n// Since workers API is the last HTTP call, $input has workers data\n// But we need jobData from the earlier code node\n// FIX: Use $('Node Name').first().json to reference specific nodes\nlet workers;\ntry {\n  workers = $('GET Available Workers').first().json.data || $('GET Available Workers').first().json;\n  if (!Array.isArray(workers)) workers = [];\n} catch (e) {\n  workers = [];\n}\n\nlet jobInfo;\ntry {\n  jobInfo = $('Prepare Assignment Data').first().json;\n} catch (e) {\n  jobInfo = jobData;\n}\n\nif (!workers.length) {\n  return { error: 'No available workers found', jobId: jobInfo.jobId };\n}\n\n// Score each worker\nconst scored = workers.filter(w => w.role === 'Technician' || w.role === 'technician').map(w => {\n  let score = 0;\n\n  // Skill match (50 points)\n  const workerSpecialties = (w.specialties || '').toLowerCase();\n  const matchedSkills = (jobInfo.requiredSkills || []).filter(s => workerSpecialties.includes(s));\n  score += jobInfo.requiredSkills.length > 0 ? (matchedSkills.length / jobInfo.requiredSkills.length) * 50 : 25;\n\n  // Active status (20 points)\n  if (w.active) score += 20;\n\n  // Rating (15 points)\n  score += ((w.rating || 3) / 5) * 15;\n\n  // Experience (15 points)\n  score += Math.min((w.experience_years || 1) / 5, 1) * 15;\n\n  return { ...w, score: Math.round(score) };\n});\n\nscored.sort((a, b) => b.score - a.score);\n\nif (!scored.length) {\n  return { error: 'No qualified technicians found', jobId: jobInfo.jobId };\n}\n\nreturn {\n  jobId: jobInfo.jobId,\n  clientId: jobInfo.clientId,\n  serviceType: jobInfo.serviceType,\n  companyName: jobInfo.companyName,\n  recommendedWorker: scored[0],\n  allRanked: scored.slice(0, 5)\n};"
      }
    },
    {
      "id": "switch-has-worker",
      "name": "Worker Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.recommendedWorker !== undefined && $json.recommendedWorker !== null }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "http-request-assign",
      "name": "Assign Worker to Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 200],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.KOSAI_BASE_URL }}/api/jobs/{{ $json.jobId }}/status",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ technician_id: $json.recommendedWorker.id, status: 'In Progress' }) }}",
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.KOSAI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "telegram-notify-worker",
      "name": "Notify Worker",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1650, 150],
      "parameters": {
        "chatId": "={{ $('Score & Rank Workers').first().json.recommendedWorker.telegram_username || $env.TELEGRAM_DEFAULT_CHAT_ID }}",
        "text": "=🔔 *New Job Assigned!*\n\nJob: {{ $('Score & Rank Workers').first().json.jobId }}\nClient: {{ $('Score & Rank Workers').first().json.companyName }}\nService: {{ $('Score & Rank Workers').first().json.serviceType }}\nAddress: {{ $('Score & Rank Workers').first().json.address || 'N/A' }}\n\nPlease check the Kosai portal for details.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Kosai Telegram Bot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "telegram-notify-admin",
      "name": "Notify Admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1650, 300],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=✅ *Auto-Assignment Complete*\n\nJob #{{ $('Score & Rank Workers').first().json.jobId }} → {{ $('Score & Rank Workers').first().json.recommendedWorker.name }}\nScore: {{ $('Score & Rank Workers').first().json.recommendedWorker.score }}/100\nClient: {{ $('Score & Rank Workers').first().json.companyName }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Kosai Telegram Bot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "code-log-activity",
      "name": "Log Activity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 225],
      "parameters": {
        "jsCode": "const workerData = $('Score & Rank Workers').first().json;\nreturn {\n  type: 'job_assigned',\n  description: `Auto-assigned job #${workerData.jobId} to ${workerData.recommendedWorker.name} (score: ${workerData.recommendedWorker.score})`,\n  reference_type: 'job',\n  reference_id: workerData.jobId\n};"
      }
    },
    {
      "id": "no-worker-found",
      "name": "No Worker - Alert Admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1450, 420],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=⚠️ *Auto-Assignment Failed*\n\nJob #{{ $json.jobId }} could not be auto-assigned.\nReason: {{ $json.error }}\n\nPlease assign manually.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Kosai Telegram Bot"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook - Job Created": {
      "main": [[{ "node": "GET Job Details", "type": "main", "index": 0 }]]
    },
    "GET Job Details": {
      "main": [[{ "node": "Prepare Assignment Data", "type": "main", "index": 0 }]]
    },
    "Prepare Assignment Data": {
      "main": [[{ "node": "GET Available Workers", "type": "main", "index": 0 }]]
    },
    "GET Available Workers": {
      "main": [[{ "node": "Score & Rank Workers", "type": "main", "index": 0 }]]
    },
    "Score & Rank Workers": {
      "main": [[{ "node": "Worker Found?", "type": "main", "index": 0 }]]
    },
    "Worker Found?": {
      "main": [
        [{ "node": "Assign Worker to Job", "type": "main", "index": 0 }],
        [{ "node": "No Worker - Alert Admin", "type": "main", "index": 0 }]
      ]
    },
    "Assign Worker to Job": {
      "main": [
        [
          { "node": "Notify Worker", "type": "main", "index": 0 },
          { "node": "Notify Admin", "type": "main", "index": 0 }
        ]
      ]
    },
    "Notify Worker": {
      "main": [[{ "node": "Log Activity", "type": "main", "index": 0 }]]
    },
    "Notify Admin": {
      "main": [[]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["kosai", "jobs", "auto-assignment"],
  "active": false
}
