n8n_workflows/workflow_05_worker_attendance_report.json
{
  "name": "Worker Attendance Report",
  "nodes": [
    {
      "id": "cron-trigger",
      "name": "Cron - Monday 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * 1" }]
        }
      }
    },
    {
      "id": "http-get-attendance",
      "name": "GET Attendance Records",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 200],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.KOSAI_BASE_URL }}/api/attendance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.KOSAI_API_KEY }}" }
          ]
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "http-get-technicians",
      "name": "GET Technicians",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 400],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.KOSAI_BASE_URL }}/api/technicians",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.KOSAI_API_KEY }}" }
          ]
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "code-build-report",
      "name": "Build Weekly Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300],
      "parameters": {
        "jsCode": "// Access both nodes by name to avoid data merge issues\nlet attendance = [];\nlet technicians = [];\n\ntry {\n  const attResp = $('GET Attendance Records').first().json;\n  attendance = Array.isArray(attResp) ? attResp : (attResp.data || attResp.records || []);\n} catch (e) {\n  console.log('Attendance fetch failed:', e.message);\n}\n\ntry {\n  const techResp = $('GET Technicians').first().json;\n  technicians = Array.isArray(techResp) ? techResp : (techResp.data || []);\n} catch (e) {\n  console.log('Technicians fetch failed:', e.message);\n}\n\n// Build lookup map\nconst techMap = {};\ntechnicians.forEach(t => { techMap[t.id] = t; });\n\n// Aggregate per technician\nconst stats = {};\nattendance.forEach(record => {\n  const tid = record.technician_id || record.worker_id || record.id;\n  if (!stats[tid]) {\n    stats[tid] = {\n      id: tid,\n      name: techMap[tid]?.name || record.technician_name || `Tech #${tid}`,\n      clockIns: 0,\n      clockOuts: 0,\n      totalHours: 0\n    };\n  }\n  if (record.clock_in) stats[tid].clockIns++;\n  if (record.clock_out) stats[tid].clockOuts++;\n  stats[tid].totalHours += record.hours_worked || record.total_hours || 0;\n});\n\nconst rows = Object.values(stats).sort((a, b) => a.name.localeCompare(b.name));\n\n// Build summary\nlet summary = '📋 *Weekly Attendance Report*\\n\\n';\nif (rows.length === 0) {\n  summary += 'No attendance records found for last week.';\n} else {\n  rows.forEach(r => {\n    summary += `*${r.name}*\\n`;\n    summary += `  Clock-ins: ${r.clockIns} | Clock-outs: ${r.clockOuts} | Hours: ${r.totalHours.toFixed(1)}\\n\\n`;\n  });\n  summary += `Total records: ${attendance.length}`;\n}\n\n// Build CSV\nconst csvHeader = 'Technician,Clock-ins,Clock-outs,Total Hours\\n';\nconst csvRows = rows.map(r => `${r.name},${r.clockIns},${r.clockOuts},${r.totalHours.toFixed(1)}`).join('\\n');\n\nreturn [{ json: { summary, csvContent: csvHeader + csvRows, recordCount: rows.length } }];"
      }
    },
    {
      "id": "telegram-summary",
      "name": "Send Telegram Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [950, 300],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.summary }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Kosai Telegram Bot"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Cron - Monday 9AM": {
      "main": [
        [
          { "node": "GET Attendance Records", "type": "main", "index": 0 },
          { "node": "GET Technicians", "type": "main", "index": 0 }
        ]
      ]
    },
    "GET Attendance Records": {
      "main": [[{ "node": "Build Weekly Report", "type": "main", "index": 0 }]]
    },
    "GET Technicians": {
      "main": [[{ "node": "Build Weekly Report", "type": "main", "index": 0 }]]
    },
    "Build Weekly Report": {
      "main": [[{ "node": "Send Telegram Summary", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["kosai", "attendance", "workers", "report"],
  "active": false
}
